*{
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

.level1{
    text-align: center;
    text-rendering: geometricPrecision;
    background: black;
    color: #fff;
    background-position: center;
    background-size: cover;
    border: 2px solid #bbb;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.findhthegame{
    background: rgba(218, 27, 27, 0.308);
    background: linear-gradient(-70deg, #4cbd20, #1755c9);
    background-size: 900% 900%;
    animation: shit 0.2s ease-in-out infinite;
    color: #fff;
    height: 200%;
    width: 200%;
    background-position: center;
    background-size:cover;
}
@keyframes shit {
    0%{
        background-position: 0 50%;
    }
    20%{
     background-position: 100% 50%;

}
}

.cookieyummytummy{
    font-size: 30;
    position: relative;
    text-align: center;
    animation: poyopoyo 0.7s infinite;
}
    @keyframes poyopoyo {
        0%   {bottom:900px; left:99;}
        15%  {top: 200px; right: 66px;}
        25%  {top: 100px; left:50px;}
        35%  {left: 200px;}
        40% {top: 99px;}
        50%{ right:50px; shape-rendering: crispEdges; color: yellow;}
        60%{ top: 420px}
        70%{bottom: 50px;}
        90%{left:400px;}
        100%{top: 400px;}
      }

      .moving{
        font-size: 1;
        position: relative;
        text-align: left;
        animation: poyopoyo2 0.4s infinite;
    }
        @keyframes poyopoyo2 {
           0%{bottom: 500px;}
           100%{top: 500px;}
          }

.two2x2{
font-size: 20;
    position: relative;
    text-align: center;
    animation: annoyance 0.8s infinite;
}
    @keyframes annoyance {
        0%   {bottom:999; left:60px; font-size: 99;}
        15%  {top: 299px; right: 66px; font-size:49;}
        25%  {right:50px; left:500px;}
        35%  {top:40px;}
        40% {right: 59px;}
        50%{ bottom:500px; font-size: 50px;}
        60%{ left: 90px}
        70%{right: 50px;}
        80%{left:90px;}
        90%{top:83px;}
      }


      .whys{
        animation: annoyance 0.6s infinite;
    }
        @keyframes annoyance {
            0%   {bottom:900px; font-size: 40;}
            15%  {right: 666px; font-size:49;}
            25%  {right:500px; left:50px;}
            35%  {top: 600px;}
            40% {right: 676px;}
            50%{ bottom:644px; font-size: 50px;}
            60%{ left: 4456px}
            70%{right: 999px;}
            80%{top:5674px;}
          }

          .edc{
              text-align: center;
            animation: annoyance2 0.2s infinite;
        }
            @keyframes annoyance2 {
        
                30%{font-size: 51px;}
                60%{ left: 1200px}
                90%{right: 100px;}
                100%{top:54px;}
              }

              .random{
                font-size: 30;
                color: #fff;
                transform: rotate(-180deg);
                transition: 10s;
              }
              .ha{
                animation: annoyance 0.6s infinite;
            }
                @keyframes annoyance {
                    0%   {bottom:30px;}
              }
      
          
